[core]
	editor = vim
[merge]
	tool = vimdiff
[user]
	name = Étienne Lafarge
	email = etienne.lafarge@gmail.com
[alias]
	st = status --short
	grph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
[diff]
	tool = vimdiff
[difftool]
	prompt = false
